.procedures-tags-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  width: 50%;
  margin: 2em auto;
  text-align: center;
  align-items: center;
}
.procedures-tags-list-item {
  background-color: var(--details-color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.procedures-tags-list-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .procedures-tags-list {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .procedures-tags-list-item {
    font-size: 0.8em;
  }
  .procedures-tags-list {
    width: 60%;
  }
}
