.button-container button {
  background: var(--details-color);
  border: none;
  padding: 1em 2em;
  border-radius: 1em;
  cursor: pointer;
  color: white;
}
.button-container button:hover {
  background-color: #9b6aa3;
  color: white;
  transition: 0.3s ease-in-out;
}
