.main-container {
  display: flex;
  width: 70%;
  height: 80vh;
  gap: 4em;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.welcome-text {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.procedures-tags-container {
  flex-wrap: wrap;
  margin-top: 1em;
}
