.cards-container {
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: red;
  margin: 2em;
  border-radius: 1em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
}

.card {
  width: 60%;
  padding: 1em 2em 3em 2em;
}

.card-1,
.card-4,
.card-5 {
  margin: 3em auto;
}
.card-4 {
  width: 40%;
}
.card-3,
.card-7 {
  margin-left: auto;
}
.card-title {
  font-size: 2em;
  margin: 1em 0;
}
.card-text {
  font-size: 1.2em;
  line-height: 150%;
  padding: 0 4em;
}
.multiline-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 200%;
}

.card-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 5em;
}

.card-6,
.card-7 {
  display: flex;
  flex-direction: row;
}
.strong-text {
  margin-top: 2em;
  padding: 0 7em;
  font-weight: bold;
}
.with-strong {
  font-size: 2em;
  padding: 1em 1em;
  margin: 0;
}
.assign {
  padding-top: 6em;
  text-align: end;
  padding-right: 2em;
}
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15,
.card-16,
.card-17,
.card-18,
.card-19,
.card-20,
.card-21,
.card-22,
.card-23,
.card-24,
.card-25 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 60%;
  align-items: center;
  padding: 3em 2em;
}
.card-9,
.card-11,
.card-13,
.card-15,
.card-17,
.card-19,
.card-21,
.card-23,
.card-24,
.card-25 {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}
.img-card img {
  width: 300px;
  height: 350px;
}
.card-1 img {
  width: 400px;
  height: 100px;
}
