header {
  background-color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.logo {
  width: 300px;
  height: 150px;
  border-radius: 1em;
  transition: box-shadow 0.3s ease;
}

.button-list-container {
  display: flex;
  gap: 2em;
}
.button-list-container li {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -2em;
  background: var(--details-color);
  border-radius: 12px;
  z-index: 9999;

  list-style: none;
}

.dropdown-menu li {
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--bg-color);
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 1em;
}

.dropdown-menu a:hover {
  color: var(--bg-color);
}

#footer {
  scroll-margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  .button-list-container {
    flex-direction: column;
    text-align: center;
    padding: 1em 0;
  }
  .dropdown-menu a {
    padding: 0.5em;
    font-size: 0.8em;
  }
}
