footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: var(--main-color);
  padding: 2em;
}
.footer-icons {
  width: 40px;
  height: 40px;
}
.footer-icons-clock {
  width: 60px;
  height: 60px;
}
footer ul li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.insta {
  margin-left: 2em;
}

footer p {
  color: white;
}
.address {
  text-align: center;
  width: 58%;
  margin: 0 auto;
}
.address-container {
  text-align: center;
}
.time {
  text-align: center;
}
.social-media {
  text-align: center;
}
.social-media ul li {
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  footer h1 {
    text-align: center;
  }
}
